/* font-family link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

/* font-family */
/* font-family: 'Inter', sans-serif;
   font-family: 'Merriweather', serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* header section style */
.header-bg {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(image/banner\ image.png);

    /* background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)), url(image/banner\ image.png); */
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    padding: 180px 0;
}

.header-bg p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header-bg h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* discount section style */

.discount-section {
    margin: 100px 0;
    text-align: center;
}

.discount-offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.discount-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.discount-categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
}

/* welcome area style */

.welcome-area {
    display: flex;
    justify-content: space-around;
    /* background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(image/vectorrr.png); */

    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(image/vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 100px 50px 120px;
    background-size: 90% 100%;
    margin-bottom: 100px;
}

.welcome-text {
    width: 600px;

}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 20px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.join-now {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* time section style */

.time-section {
    background-color: rgba(240, 177, 177, 0.466);
    border-radius: 10px;
    /* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
    width: 1265px;
    margin: 100px auto;
    padding: 100px 0px;
    text-align: center;
}

.time-span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.time-section h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

.time-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-top: 40px;
}

/* best-offer-section */

.best-offer-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 150px 0px;
}

.offer-left-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-left-eading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 10px 0px 20px 0px;
}

.offer-left-description {
    width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.mid-offer-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}

.offer-right-heading {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-right-description {
    width: 250px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 10px 0px 20px 0px;
}


/* sales area style */

.sale-section{
    margin: 100px 0px;
    text-align: center;
}
.sale-heading {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sale-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 15px 0px 20px 0px;
}

.sale-color {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sale-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1000px;
    margin: 0 auto;
}
.sale-img-wrapper{
    margin-top: -600px;
}
.img-1{
    position: relative;
    top: 650px;
    left: -150px;
}
.img-2{
    position: relative;
    right: 220px;
    top: 400px;
    z-index: 5;
}
.img-3{
    position: relative;
    left: 409px;
    top: 4px;
}
.img-4{
    width: 1250px;
    /* position: absolute; */
}

/* <!-- portfolio section */
.portfolio-section {
    width: 1250px;
    margin: 100px auto;
}

.portfolio-text {
    width: 800px;
}

.portfolio-heading {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.item {
    text-align: center;
}

.item img {
    width: 380px;
    height: 400px;
    margin-right: 13px;
    margin-bottom: 13px;
    padding: 10px;
    transition: all ease 0.3s;
}
.item img:hover{
    /* background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    z-index: 2; */
    padding: 20px 10px 0px;
}

/* dubscribe section style */

.subscribe-section {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(240, 177, 177, 0.466);
    border-radius: 10px;
    width: 1265px;
    margin-bottom: 100px;
    padding: 100px 0px;
}


.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 40px 0px 20px 0px;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
    width: 800px;
    margin: 0px auto 50px;
}

.search-box {
    width: 600px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px 45px 45px 50px;
    padding: 23.4px 50px;
    border: none;
    margin-left: 150px;
}

.subscribe-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 20px 50px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    left: -200px;
    padding-top: 20px;
    padding-bottom: 23px;
}

/* footer section style */

.footer-wrapper {
    background: #070211;
    color: #FFF;
    padding: 100px 140px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.website {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-mid {
    text-align: center;
    margin: 70px 0px;
}

.footer-mid img {
    margin-right: 20px;
}

.same-paragraph {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}